<div class="container">
  <h1>Welcome to the AdWords on Keyword Search application</h1>
  <div class="col-md-6 col-md-push-4">
    <%= link_to authorizations_login_path do %>
       <%= icon('sign-in', 'Login', id: 'logIn', class: 'fa-4x', "aria-hidden": true) %>
    <% end %>
  </div>
</div>
