<h1>Authorization required</h1>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<p>Please authorize with a google account first:</p>

<p>
  <%= link_to @login_url.to_s do %>
    <%= icon('google', 'Login', id: 'g-authorize', class: 'fa-4x', "aria-hidden": true) %>
  <% end %>
</p>
